.login-css, .register-css, .main-css, .main-page-css {
  background-color: rgba(220, 212, 212, 0.83);
  width: 100%;
  height: 80vh;
  position: relative;
  
}

h1 {
  margin: 20px 0;
  padding: 20px;
  background-color: rgb(70, 108, 179);
  text-align: center;
  font-size: 36px;
  color: white;
}

.login-main, .register-form, .main-page-form{
  position: absolute;
  left: 40%;
  top: 5%;
  background-color: rgb(220, 231, 252);
  padding: 10px;
  border-radius: 4px;
    
}


@media only screen and ( max-width: 360px ) {
  .login-main, .register-form, .main-page-form {
    margin-left: -138px;
  }   
}

section p {
  margin: 0;
  padding: 16px 0;
  font-size: 28px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.707);
}

.input-text, .input-password, form [type=text], form [type=password], form [type=email] {
  width: 300px;
  padding: 6px 0;
  margin-left: 20px;
  font-size: 18px;
  border-radius: 4px;
  border: 1px solid rgb(70, 108, 179);
  outline: none;
  color: rgb(70, 108, 179);
}

.submit-button, .register-button  {
  margin-left: 40px;
  padding: 10px 0;
  

}

.submit-button button, .register-button button {
  padding: 6px 10px;
  border-radius: 4px;
  border: none;
  outline: none;
  background-color: rgb(70, 108, 179);
  cursor: pointer;
}

.submit-button button:hover, .register-button button:hover  {
  background-color: rgba(65, 86, 126, 0.926);
}

.register, .back-to-login {
  padding: 10px 0;
  margin-left: 40px;
  
}

.register a, .back-to-login a {
  color: rgb(70, 108, 179);
  text-decoration: none;
}

.register a:hover, .back-to-login a:hover {
  text-decoration: underline;
  color: rgba(65, 86, 126, 0.926);
}

.language {
  display: flex;
  align-items: center;
}

label {
  font-weight: 500;
  font-size: 20px;
  flex-wrap: nowrap;
}

select {
  font-size: 22px;
  background-color: rgb(70, 108, 179);
  border: none;
  outline: none;
  border-radius: 4px;
  margin-left: 56px;
  cursor: pointer;
}

option {
  font-size: 20px;
}

.footer {
  position: absolute;
  bottom: 0px;
  width: 100%; 
  background-color: rgb(70, 108, 179);
  display: flex;
  align-items: center;
  justify-content: center;
  
}

@media only screen and ( min-width: 360px ) {
  .footer {
     height: 70px;
  }
}

@media only screen and ( max-width: 360px ) {
    .footer {
      display: flex;
      flex-direction: column;
      
    }
} 

.footer-info {
  display: flex;
  align-items: center;
  justify-content: center; 
  padding: 0 20px;
}

@media only screen and ( max-width: 770px) {
   .footer-info {
     display: none;
     
    }
}

@media only screen and ( max-width: 360px) {
    .footer-info {
      display: flex;
      flex-direction: column;
      
    }
}

.footer-info h2 {
  color: white;
  padding: 0 20px;
}

.footer-info a {
  text-decoration: none;
  cursor: pointer;
  color: black;
  padding: 0 16px;
}

.footer-info a:hover {
  color: rgba(0, 0, 0, 0.33);
}


.footer-contact a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  padding: 0 8px;
}

@media only screen and ( max-width: 360px) {
   .footer-contact {
     margin-top: 20px;
   }
}

.main-page-css {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.user-account {
 background-color: rgb(164, 172, 186);
 padding: 20px;
 border-radius: 4px;
}

.user-account span {
  font-size: 30px;
  
}

.user-account p {
  font-size: 20px;
  font-weight: 600;
  
}

.user-account a {
  font-size: 18px;
  text-decoration: none;
  color: rgb(70, 108, 179);
}

.user-account a:hover {
  text-decoration: underline;
  color: rgba(65, 86, 126, 0.926);
}

.search-input h4 {
   font-size: 20px;
   font-weight: 500;
      
}

.search-input [type=text] {
  width: 330px;
  height: 40px;
  padding-left: 10px;
  font-size: 16px;
  border: none;
  outline: none;
  text-align: center;
}

.search-input [type=submit] {
  padding: 12px 10px;
  margin-left: 5px;
  border: none;
  background-color: rgb(70, 108, 179);
  cursor: pointer;
}

.search-input button:hover {
  background-color: rgba(65, 86, 126, 0.926);
}

.search-result {
  margin-top: 5px;
  margin-left: 0;
  width: 330px;
  height: 320px;
  background-color: white;
  overflow: hidden;
  overflow-y: auto;
}

.search-result::-webkit-scrollbar {
  display: none;
}

.search-result p:hover  {
  background-color: rgb(70, 108, 179);
}